@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Montserrat:wght@100;300;400&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #1B2430;
    --primary-color: #D6D5A8;

    --bg2-color: #D6D5A8;
    --second-color: #51557E;

    --label-icon: url("https://cdn4.iconfinder.com/data/icons/remixicon-weather/24/moon-fill-46.png")
}

.dark-mode {
    background-color: var(--bg2-color);
    color: var(--second-color);
    --label-icon: url(./img/9023993_sun_fill_icon.png); 
}

.dark-mode .box {
    border: 2px solid red;
    border: 2px solid var(--second-color);
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

.dark-mode .btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: var(--second-color);
    border-radius: 5px;
    margin-top: 20px;

    color: var(--bg2-color);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

#btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    cursor: pointer;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mudar-tema {
    position: absolute;
    top: 4%;
    left: 2%;
    background-image: var(--label-icon);
    background-repeat: no-repeat;
    padding: 67px;
    cursor: pointer; 
}

#btn {
    display: none;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}

div {
    font-size: 1em;
}
